<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="url" value="https://www.google.com/" />
		<parameter name="browser" value="Chrome" />
		<classes>
			<class
				name="com.seleniumae.exercise.TC_001_Loading_Google_Page" />
			<class
				name="com.seleniumae.exercise.TC_002_Verify_Search_On_Google" />


		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test1">
		<parameter name="url" value="https://www.rbauction.com/" />
		<parameter name="browser" value="Chrome" />
		<classes>
			<class
				name="com.seleniumae.exercise.TC_003_Verify_RitchieBros_Page" />
		</classes>
	</test> <!-- Test -->




</suite> <!-- Suite -->
